* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(../clouds1.jpg);
    background-size: cover;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 40px;
    width: 100%;
    
}

.title{
    display: flex;
    align-items: center;
    gap: 0px;

}
.navbar .logo img{
    width: 130px;
}

h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navlinks ul {
    display: flex;
    gap: 15px;
}

.navlinks a{
    text-decoration: none;
}
.navlinks li {
    list-style: none;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 3px 25px;
}
.navlinks li:hover{
    border-color: rgb(103, 139, 181);
    color: #e1e1e2 ;
}
.navlinks li.active {
    border-color: rgb(103, 139, 181);
    color: #e1e1e2;
}

.sec1 {
    height: 80vh;
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

.input-sec {
    position: relative;
    max-width: 1200px;
    margin-bottom: 40px;
}

.input-sec input {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    font-size: 18px;
    padding: 20px 120px 20px 20px;
    border-radius: 30px;
    border: none;
    color: white;
}

#searchInput::placeholder{
    font-size: 16px;
    color: rgb(184, 180, 180);
}

.input-sec button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    background: #009ad8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.weather-layout {
    display: flex;
    gap: 40px;
    padding: 30px;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
}

/* LEFT */
.weather-left {
    padding-right: 150px;
    padding-bottom: 0;
}

.city-name {
    font-size: 26px;
    margin-bottom: 10px;
}

.main-temp {
    font-size: 64px;
    font-weight: bold;
}

.condition {
    opacity: 0.8;
    margin-bottom: 30px;
}

.forecast {
    display: flex;
    gap: 20px;
}

.weather-right {
    flex: 1;
    background: rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    opacity: 0.9;
}

.today-day {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 5px;
}

.today-small {
    font-size: 16px;
    opacity: 0.7;
    margin: 2px 0;
}

.card-forecast {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 200px;
    transition: 0.3s;

}
.card-forecast:hover {
    transform: translateY(-5px);
}
.card-forecast h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
.card-forecast img {
    width: 50px;
    margin: 5px 0;
}
.card-forecast p {
    font-size: 14px;
    margin: 3px 0;
    line-height: 20px;
    opacity: 0.9;
}
.small-temp {
    font-size: 9px;
    color: rgb(215, 215, 215);
    margin: 2px 0;
}


/* ----------------------------------------------------------------------------- */

.sec2{
    height: 200px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
}

.input-sec2 {
    position: relative;
    max-width: 1100px;
    margin-bottom: 40px;
    padding: 40px 0 0px 220px;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.input-sec2 input {
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    font-size: 18px;
    padding: 20px 20px;
    border-radius: 30px;
    border: none;
    color: white;
}

#subscribeInput::placeholder{
    font-size: 16px;
    color: rgb(184, 180, 180);
}

.input-sec2 button {
    position: absolute;
    right: 210px;
    top: 50%;
    transform: translateY(-10%);

    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    background: #009ad8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.icons {
    display: flex;
    justify-content: end;
    gap: 10px;
    
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fdfdfd;
    transition: all 0.3s ease;
}

.icons a i {
    color: #383f41; 
    transition: all 0.3s ease;
}

.icons a:hover {
    background: #009ad8;
}

.icons a:hover i {
    color: white;
}


.sec2 p{
    margin-left: 220px;
    font-size: 14px;
    font-weight: 300;
    color: #919196;
}
